<!DOCTYPE html>
<html>
<head>
<title>Crop Recommendation </title>
   <body>
       <form action="/predict" method="POST">
        <label for = "N">Nitrogen</label>
        <input type = "number" id="N" name="N">
        <br>
        <label for = "P">Phosphorous</label>
        <input type = "number" id="P" name="P">
        <br>
        <label for = "K">Potassium</label>
        <input type = "number" id="K" name="K">
        <br>
        <label for = "temp">Temperature</label>
        <input type = "number" id="temp" name="temp">
        <br>
        <label for = "humidity">Humidity</label>
        <input type = "number" id="humidity" name="humidity">
        <br>
        <label for = "PH">PH</label>
        <input type = "number" id="PH" name="PH">
        <br>
        <label for = "rain">Rainfall</label>
        <input type = "number" id="rain" name="rain">
        <br>
        <input type="submit" valule="Submit">
    </form>
   </body>
</html>